<!-- Header -->
<header class="header">
	<div class="header__builder">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

				<!-- logo -->
				<div class="logo">
					<a href="{{ .Site.BaseURL }}">
            			{{ $header := .Site.Params.header }}
						<img src="{{ $header.logo | absURL }}" alt="{{ $header.logo_alt }}" />
					</a>
				</div>

			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 align-right">

				<!-- contact form button -->
				<a href="#contact-form" class="contact-form-btn">Contact</a>

				<!-- switcher btn -->
				<a href="#" class="switcher-btn">
					<span class="sw-before">
						<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
							<!-- SVG path code -->
						</svg>
					</span>
					<span class="sw-after">
						<svg xmlns="http://www.w3.org/2000/svg" width="22.22" height="22.313" viewBox="0 0 22.22 22.313">
							<!-- SVG path code -->
						</svg>
					</span>
				</a>

				<!-- menu btn -->
				<a href="#" class="menu-btn">
					<span></span>
					<span></span>
				</a>

				<!-- Menu Full Overlay -->
				<div class="menu-full-overlay">
					<div class="menu-full-container">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

									<!-- menu full -->
									<div class="menu-full">
										<ul class="menu-full">
											<!-- Menu items -->
										</ul>
									</div>

									<!-- social -->
									<div class="menu-social-links">
										<!-- Social links -->
									</div>

									<div class="v-line-block"><span></span></div>

								</div>
							</div>
						</div>
					</div>
					<div class="menu-overlay"></div>
				</div>

			</div>
		</div>
	</div>
</header>
